body{
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    color:white;
    padding:20px;

}
html{
    scroll-behavior: smooth;
}
.group{
    padding:20px;
}
.presentation h1{
    text-shadow: 2px 2px rgb(0, 110, 255);
    font-size: 40px;
}
.presentation1 h1{
    text-shadow: 1px 2px red;
    font-size: 30px;
}
.presentation1 p{
    width:60%;
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 25px;
}
.presentation1 li{
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 22px;
}
.presentation1 img{
    width:30%;
   float:right;
}
.presentation2{
    position: relative;
    top:200px;
}
.presentation2 h1{
    text-shadow: 1px 2px red;
    font-size: 30px;
}
.presentation2 p{
    width:60%;
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 25px;
}
.presentation2 li{
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 22px;
}

.presentation2 img{
    width:30%;
   position:relative;
   display: flex;
   position: relative;
   left:1000px;
   bottom:700px;
   padding:20px;
}
.presentation3{
    position:relative;
    bottom:200px;
}
.presentation3 h1{
    text-shadow: 1px 2px red;
    font-size: 30px;
}
.presentation3 p{
    width:60%;
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 25px;
}
.presentation3 img{
    width:30%;
   float:right;
}
.presentation4 h1{
    text-shadow: 1px 2px red;
    font-size: 30px;
}
.presentation4 p{
    width:60%;
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 25px;
}
.presentation4 li{
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 22px;
    width:50%;
}

.presentation4 img{
    width:30%;
    height:250px;
   position:relative;
   display: flex;
   position: relative;
   left:1000px;
   bottom:700px;
   padding:20px;
}



