body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    color:white;
    padding:20px;
}
html{
    scroll-behavior: smooth;
}
.container h1{
    text-shadow: 2px 2px rgb(0, 110, 255);
    font-size: 50px;
}
.container h2{
    font-size: 40px;
    text-shadow: 2px 2px rgb(0, 110, 255);
}
.container p{
    width:80%;
    text-align: justify;
    font-size: 25px;
    text-shadow: 1px 1px red;
}
.container img{
    width:30%;
    padding:30px;
    position: relative;
    left:250px;
    height:500px;
}

.container1 img{
    width:50%;
    padding:30px;
    position: relative;
    left:300px;
}
.container1 h2{
    font-size: 40px;
    text-shadow: 2px 2px rgb(0, 110, 255);
}
.container1 p{
    width:70%;
    text-align: justify;
    font-size: 25px;
    text-shadow: 1px 1px red;
}
.container2 h2{
    font-size: 40px;
    text-shadow: 2px 2px rgb(0, 110, 255);
}
.container2{
    width:80%;
    text-align: justify;
    font-size: 25px;
    text-shadow: 1px 1px red;
}
.container2 img{
    width:50%;
    height:350px;
    padding:30px;
    position: relative;
    left:300px;
}
.container3 h2{
    font-size: 40px;
    text-shadow: 2px 2px rgb(0, 110, 255);
}
.container3 p{
    width:80%;
    text-align: justify;
    font-size: 25px;
    text-shadow: 1px 1px red;
}
.container4{
    position: relative;
    top:100px;
}
.container4 h2{
    font-size: 40px;
    text-shadow: 2px 2px rgb(0, 110, 255);
}
.container4 p{
    width:60%;
    text-align: justify;
    font-size: 25px;
    text-shadow: 1px 1px red;
}
.container4 img{
    float:right;
    width:30%;
    height:300px;
    padding:20px;
    position: relative;
    bottom:50px;
}
