body{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    color:white;
    padding:10px;

}
html{
    scroll-behavior: smooth;
}
.group{
    padding: 20px;
}
.Skills h1{
    text-shadow: 2px 2px rgb(0, 110, 255);
    font-size: 50px;
    text-align: center;
}
.Leadership h1{
    text-shadow: 2px 2px red;
    font-size: 35px;
    
}
.Leadership h3{
    text-shadow: 2px 2px blueviolet;
    font-size: 35px;
    
}
.container1{
    position: relative;
    bottom:300px;
}

.Leadership p{
    width:80%;
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 25px;
    text-align:justify;
    
}
.Leadership div p{
    width:65%;
}
.Leadership img{
    width:30%;
   position:relative;
   left:1000px;
   bottom:400px;
   border-radius: 30px;
    box-shadow: 5px 5px 10px  lightskyblue;
}
